.banner {
    color: white;
    object-fit: contain;
    /* height: 448px; */
    height: 38rem;   
}

.banner__contents {
    margin-left: 30px;
    /* padding-top: 140px; */
    padding-top: 15rem;
    height: 190px;
}

/* .banner__contents {
    margin-left: 30px;
    display: flex;
    height: 100%;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
} */

.banner__title {
    font-size: 3.5rem;
    font-weight: 700;
    padding-bottom: 0.3rem;
    max-width: 80vw;
}

.banner__description {
    width: 45rem;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 1.1rem;
    max-width: 80vw;
    height: 80px;
    font-weight: 400;

}

.banner__button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
    background-color: rgba(51, 51, 51, 0.5);

}


.banner__button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.banner--fadebottom {
    /* height: 7.4rem; */
  
    height: 11.4rem;
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
}

.banner::-webkit-scrollbar {
    display: none;
}