
    .row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__postersLarge img{
max-height: 300px ;

}

.row__postersLarge img:hover {
    transform: scale(1.09);
}

.row__poster {
    margin-right: 10px;
    width: 100%;
    object-fit: contain;
    max-height: 150px ;
    transition: transform 450ms;
}


.row__poster:hover {
transform: scale(1.08);
opacity: 1;
cursor: pointer;
}